body, html {
    margin: 0px;
    padding: 0px;
    width: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

nav {
    font-size: 25px;
    max-height: 100px;
    display: flex;
}
img.brand_image_size {
    width: 50px;
    cursor: pointer;
    
}
div#section_author {
    background-color: brown;
    display: none;
}

div.section {
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
    flex: 2;
    flex-shrink: 1;
}
div#section_data {
    background-color: rgb(100, 100, 100);
    color: rgba(255, 255, 255);
}

div#data_types {
    display: flex;
}
div.data_type {
    display: flex;
    flex-direction: column;
}

div.data_type button {
    width: 100px;
}
div#section_internet {
    background-color: aqua;
    display: none;

}

table, td, tr, th {
    border: 1px solid black;
    border-collapse: collapse;
    word-break: break-all;
    
}