body, html {
    margin: 0px;
    padding: 0px;
    width: auto;
    box-sizing: border-box;
    overflow-x: hidden;
  
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}



.nav_button {
    background: none;
    border: none;
    color: #a0a0a0;
    transition:color 0.5s ease-in-out;
}
.nav_button:hover {
    color: #9645ff;
}
.selected {
    color: #9645ff;
}
div#section_internet form {
    background-color: transparent;
    max-width: 500px;
    border: none;
}
div#section_internet form button {
    border: 1px solid #9645ff;
    margin-left: 2px;
    min-width: 150px;
    color: #9645ff;
}

div#section_internet form button:hover {
    background-color: #9645ff;
    color: white;
}
.form-control:focus {
    border-color: #9645ff;
    box-shadow: 0 0 0 0.2rem rgba(176, 72, 255, 0.25);
} 
nav {
    font-size: 25px;
    max-height: 100px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 1);
    display: flex;
}
img.brand_image_size {
    width: 50px;
    cursor: pointer;
    
}
div#section_author {
    background-color: #222629;
    color: rgba(255, 255, 255);
    display: none;
}
div.box_container {
    transition: 0.5s ease-in-out;
    border: 2px solid black;
    padding: 20px;
    color:#a0a0a0;
    margin: 10px;
    min-height: 200px;
    max-width: 650px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: auto;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.45);
}
div.info_holder {
    display: flex;
}
div.box_container p {
    width: 300px;
    font-size: 25px;
}
div.box_container img {
    transition: 0.5s ease-in-out;
    width: 300px;
    height: 300px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

div.box_container span.highlighted {
    color: #a0a0a0;
}

div.box_container:hover img {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}
div.box_container:hover {
    border-color: #9645ff;
    transform: scale(1.015);
    color: white;
}
div.box_container:hover span.highlighted {
    color: #9645ff;
}

div.section {
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
    flex: 2;
    flex-shrink: 1;
}
div#section_data {
    background-color: #222629;
    color: rgba(255, 255, 255);
    text-align: center;
}

span.highlighted { 
    color:#9645ff;
}
div#data_types {
    display: flex;
    justify-content: space-between;
}
.data_desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition:0.5s ease-in-out;
    color: #a0a0a0;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.45);
-moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.45);
box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.45);
}
.data_desc a, h1, span {
    transition: 0.5s ease-in-out;
}
.data_desc:hover {
    transform: scale(1.025);
}
.data_desc:hover a {
    background-color: #9645ff;
    border-color: #9645ff;
}
.data_desc:hover h1 {
    color: #9645ff;
}
.data_desc:hover span {
    color: white;
}
div#section_internet {
    background-color: #222629;
    color: rgba(255, 255, 255);
    display: none;

}

table, td, tr, th {
    transition: 0.5s ease-in-out;
    border: 1px solid black;
    border-collapse: collapse;
    word-break: break-all;
    
}

table#first_ten, table#data_structure {
    --bs-table-color: #a0a0a0;
}

table#first_ten tr:hover {
    --bs-table-color: #9645ff;
}

table#data_structure tr:hover {
    --bs-table-color: #9645ff;
}